
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #FFFFFF;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 297px;
  background: #EDF2F4;
  border-radius: 48px;
  height: 100vh;
  padding: 40px 25px;
  position: fixed;
  margin: 10px 0 10px 30px;
}


/* Update body to stretch its background under the sidebar if needed */
body {
    background: #FFFFFF; /* Or the color you want to fill the left margin */
    display: flex;
    /* Optional: Ensure the body always covers the whole screen */
    min-height: 100vh; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: #2B2D42;
}

.plane {
  font-size: 36px;
}

.nav-links {
  list-style: none;
  margin-top: 20px;
}

.nav-links li {
  margin-bottom: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #2B2D42;
  padding: 8px 14px;
  display: block;
  border-radius: 20px;
  transition: 0.3s;
}

.nav-links li.active a,
.nav-links a:hover {
  background: #2B2D42;
  color: #FFFFFF;
}

.logout-btn {
  background: #EF233C;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 12px 46px;
  border-radius: 16px;
  position: absolute;
  bottom: 45px;
  left: 48px;
  cursor: pointer;
}

/* MAIN */
.main {
  margin-left: 320px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 0px;
  padding-right: 0px;
  width: calc(100% - 350px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

/* Image Upload Section */
.image-section {
  width: 586px;
}

.image-large,
.img-box {
  background: #00000033 url('camera.png') center center no-repeat;
  background-size: 50px 50px;
  cursor: pointer;
}

.image-large {
  width: 100%;
  height: 293px;
  border-radius: 25px;
  margin-bottom: 15px;
}

.image-row {
  display: flex;
  gap: 15px;
}

.img-box {
  width: 180px;
  height: 120px;
  border-radius: 20px;
}

/* Form */
.activity-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px auto 0 auto;
}

.field input,
.field textarea {
  padding: 12px 16px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-weight: 700;
  font-size: 12px;
  color: #2B2D42;
}

.field input,
.field textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 4px #00000040;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.field input {
  height: 40px;
}

textarea {
  height: 80px;
  resize: none;
}

.create-btn {
  background: #EF233C;
  border: none;
  width: 121px;
  height: 37px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}